@section Scripts{
    <script src="@Url.Content("~/Scripts/workshopScripts/advanced.js")" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Advanced javascript";
}

<h2>Advanced javascript</h2>
<a id="nupuntnl"  href="http://www.nu.nl">Nu</a>
<div class="clear"></div>
The dog listens to the following words: Quiet, Bark
<button id="shoutQuiet" style="margin-left: 10px;">Shout Quiet</button>
<button id="shoutBark" style="margin-left: 10px;">Shout Bark</button>