@{
    ViewBag.Title = "KnockoutJS Table of Contents";
}

<h2>Table of Contents</h2>
<h3>Knockout JS</h3>

<ul>
    <li>@Html.ActionLink("Simple bindings", "Index", "SimpleBindings", new { area = "KnockoutJS" }, null)</li>
    <li>@Html.ActionLink("Advanced bindings", "Index", "AdvancedBindings", new { area = "KnockoutJS" }, null)</li>
    <li>@Html.ActionLink("Cascading DropDown", "Index", "CascadingDropdown", new { area = "KnockoutJS" }, null)</li>
    <li>@Html.ActionLink("Animations", "Index", "Animations", new { area = "KnockoutJS" }, null)</li>
</ul>
