@{
    ViewBag.Title = "Advanced JavaScript Table of Contents";
}

<h2>Table of Contents</h2>
<h3>Advanced JavaScript</h3>
<ul>
    <li>@Html.ActionLink("JavaScript objects", "Index", "Objects", new { area = "AdvancedJavascript" }, null)</li>
    <li>@Html.ActionLink("Eventing", "Index", "Eventing", new { area = "AdvancedJavascript" }, null)</li>
</ul>
