@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    This workshop is composed by <a href="http://marcofranssen.nl">Marco Franssen</a>, Jan Saris and <a href="http://sandervandevelde.wordpress.com/">Sander van de Velde</a>.
</p>
